// les variables des couleurs 


$dark_orange:#FF6655;
$pale_orange:#FFAA77;

$dark_blue:#416AD3;
$pale_blue:#608AF4;

$dark_green:#00B16A;
$pale_green:#3FC380;

$dark_yellow:#F5D486;
$pale_yellow:#FBDE98;

