// Reset import 
@import '_reset.scss';



// Variables import
@import '_variables.scss';

// Variables import
@import '_fonts.scss';

// Views import
@import '_menu.scss';


@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body{
	color: white;
	font-family: 'PT Sans', sans-serif;
}

.screen{
	width: 1200px;
	height: 1920px;
	background-color: #202847;
	background-image: url("../assets/img/Background.png");
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.content{
	width: 1200px;
	z-index: 1;


	nav{
		display: none;
		width: 80px;
		height: 1920px;
		padding-top: 130px;
		background: -webkit-linear-gradient(#202946, #151D35, #020D2D); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#202946, #151D35, #020D2D); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#202946, #151D35, #020D2D); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#202946, #151D35, #020D2D); /* Standard syntax */
		flex: 1;
		.imgtaille{
			fill-color: red;
			height: 30px;
			width: 30px;
			margin-left: 30%;
		}
		.marge{
			margin-top: 30px;
		}
		.hrr{
			background-color: red;
			margin-top: 30px;
		}
	}
	section{
		width: 1110px;
		margin-top: 90px;
		padding: 10px;
		display: none;
		flex: 1;
		z-index: 5;
		float: right;
		//display: inline-block;
		height: 1500px;
	}
}

header{
	z-index: 10;
	top: 0px;
	height: 80px;
	display: none;
	width: 100%;
	position: absolute;

	.heure{
	padding-left: 10px;
	padding-top:30px;
 	font-style: italic;
 	float: left;

	}
	.tesla{
	 	font-style: bold;
	 	padding-top:30px;
	 	text-align: center;
	 	float: left;
	 	margin-left: 500px;
	}
	.img1{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 200px;


	}
	.batterie{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}






	.img2{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 90px;


	}

	.signal{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}




	.img3{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 90px;
	}

	.meteo{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}
}












footer{
	z-index: 10;
	height: 300px;
	width: 100%;
	position: absolute;
	background-color: transparent;
    right: 0px;
    bottom: 0px;
}






.footerbas{
	background: transparent;
	margin-left: 80px;
	margin-bottom: 2px;
	margin-bottom: 50px;


}

.plus{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 10px;
}
.moins{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 10px;
	margin-left: 300px;
}
.contour{
	height:70px;
	width: 70px;
	border: solid 2px red;
	border-radius: 50%;
	position: absolute;
	margin-left: 55px;
	margin-top: -15px;
}
.milieu{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 9px;
	margin-left: 70px;
	background-color: #1F274F;
	position: absolute;
}
.contour2{
	height:70px;
	width: 70px;
	border: solid 2px red;
	border-radius: 50%;
	position: absolute;
	margin-left: 155px;
	margin-top: -15px;
}
.milieu2{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 9px;
	margin-left: 170px;
	background-color: #1F274F;
	position: absolute;
}
.tiret{
	height:2px;
	background-color:white;
	width: 300px;
	margin-left: 140px;
	margin-top:73px;
	position: absolute;
}
.tiret2{
	height:2px;
	background-color:white;
	width: 300px;
	margin-left: 840px;
	margin-top:73px;
	position: absolute;
}
.power1{
	height: 30px;
	width: 30px;
	margin-left: 510px;
	margin-top: -40px;
	position: absolute;

}

.power2{
	height: 30px;
	width: 30px;
	margin-left: 560px;
	margin-top: -40px;
	position: absolute;

}
.boutonv{
	margin-left: 20px;
	margin-top: 50px;
	display: flex;
}

.droitev{
	margin-left: 700px;
	margin-top: -90px;
}

.powe{
	margin-left: 550px;
	position: absolute;
	margin-top: -5px;
}
.sync{
margin-left: 500px;
	position: absolute;
	margin-top: -5px;
}



.divvolume{



background-color:#272F4E;
	width: 100px;
	border-radius: 50px;
	height: 35px;
	margin-left: 950px;
	  margin-top: -52px;
	  color: white;

}



.voiture{
	height: 8%;
	width: 8%;
	padding-top: 70px;
	margin-left: 10%;


}

.barhr{
 	width: 85%;
 }

.voiture1{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 200px;
	

}
.voiture2{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 25px;
	

}

.voiture3{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 28px;
	

}

.control{
	margin-left: 140px;
	color: white;	
	font-family: 'PT Sans', sans-serif;
}



.moncercle1{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 420px;
  float: left;
}
.moncercle2{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}
.cercle{
	margin-top: -7px;
}
.cplein{
	background:#00D8EF;
}

.front{
	
	color: white;	
	font-family: 'PT Sans', sans-serif;
	margin-top: -12px; 
	float: left;
	padding-left: 45px;
}

#rear{
	padding-left: 30px;
}

.moncercle3{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 25px;
  float: left;
}
.moncercle4{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;

}


.moncercle5{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 40px;
  float: left;
}
.moncercle6{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}



.container-on-off {
	background-color:#272F4E;
	width: 100px;
	border-radius: 50px;
	height: 35px;
	margin-left: 950px;
	  margin-top: -52px;
	  color: white;


	.right  {
		float: right;
		
		border-radius: 50%;
		padding: 10px;
		height: 45px;
		width: auto;
		margin-top: -60px;
	}
	.left {
		float: left;
		padding: 10px;
		height: 45px;
		width: auto;
		
		border-radius: 50%;
		border: 3px solid red;
		margin-top: -58px;

		background-color: rgba(0, 0, 43, 0.5);


	}
}










.moncercle22{
  
  border-radius:50%;
  width:50px;
  height:50px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
  text-align: center;
  margin-top: -80px;
  margin-left: 200px;
}

.moncercle23{
  
  width:100px;
  height:50px;
  background-color: orange;
 margin-left: 3px;
  float: left;
  text-align: center;
  margin-top: -80px;
  margin-left: 240px;
  border-radius:50%;

  
}
.txtcercle{
	color:#FFF;
	padding-top: 30%;
}




// Views import
@import 'views/_warning.scss';
@import 'views/_main.scss';
@import 'views/_tirix.scss';
@import 'views/_gps.scss';
@import 'views/_contacts.scss';
@import 'views/_cellphone.scss';
@import 'views/_mail.scss';
@import 'views/_settings.scss';

