// Reset import 
@import '_reset.scss';



// Variables import
@import '_variables.scss';

// Variables import
@import '_fonts.scss';

// Views import
@import '_menu.scss';

// Views import
@import 'views/_main.scss';

body{
	font-family: $font-stack;
}

.screen{
	width: 1200px;
	height: 1920px;
	background-color: #202847;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.content{
	width: 1200px;
	z-index: 1;

	nav{
		width: 80px;
		height: 1920px;
		background-color: #666666;
		flex: 1;
	}
	section{
		margin-left: 120px;
		flex: 1;
	}
}

header{
	z-index: 10;
	top: 0px;
	height: 77px;
	width: 100%;
	position: absolute;
	background-color: #A91101;
	display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;

	.left{}
	.center{}
	.right{
		
		div{
			width: 5%;
		}
		.battery{
		
		}
		.network{
			
		}
		.weather{
			
		}
	}
}

footer{
	z-index: 10;
	height: 330px;
	width: 100%;
	position: absolute;
	background-color: #A91101;
    right: 0px;
    bottom: 0px;
}