// Reset import 
@import '_reset.scss';



// Variables import
@import '_variables.scss';

// Variables import
@import '_fonts.scss';

// Views import
@import '_menu.scss';

// Views import
@import 'views/_main.scss';
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.screen{
	width: 1200px;
	height: 1920px;
	background-color: #202847;
	background-image: url("../assets/img/Background.png");
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.content{
	width: 1200px;
	z-index: 1;

	nav{
		width: 80px;
		height: 1920px;
		background-color: #666666;
		flex: 1;
	}
	section{
		margin-left: 120px;
		flex: 1;
	}
}

header{
	z-index: 10;
	top: 0px;
	height: 80px;
	width: 100%;
	position: absolute;
	background-color: #A91101;


}

.heure{
	padding-left: 10px;
	padding-top:30px;
	color: white;
	font-family: 'PT Sans', sans-serif;
 	font-style: italic;
 	float: left;

	}
.tesla{
	color: white;
	font-family: 'PT Sans', sans-serif;
 	font-style: bold;
 	padding-top:30px;
 	text-align: center;
 	float: left;
 	margin-left: 500px;


}
.img1{
	width:30px;
	height:30px;
	float: left;
	margin-top: 20px;
	margin-left: 200px;


}
.batterie{
	color: white;
	font-family: 'PT Sans', sans-serif;
	padding-top: 28px;
	margin-left: 8px;
	float: left;
}






.img2{
	width:30px;
	height:30px;
	float: left;
	margin-top: 20px;
	margin-left: 90px;


}

.signal{
	color: white;
	font-family: 'PT Sans', sans-serif;
	padding-top: 28px;
	margin-left: 8px;
	float: left;
}




.img3{
	width:30px;
	height:30px;
	float: left;
	margin-top: 20px;
	margin-left: 90px;


}

.meteo{
	color: white;
	font-family: 'PT Sans', sans-serif;
	padding-top: 28px;
	margin-left: 8px;
	float: left;
}










footer{
	z-index: 10;
	height: 300px;
	width: 100%;
	position: absolute;
	background-color: #A91101;
    right: 0px;
    bottom: 0px;
}





.voiture{
	height: 8%;
	width: 8%;
	padding-top: 70px;
	margin-left: 5%;


}



.voiture1{
	height: 5%;
	width: 5%;
	padding-top: 70px;
	margin-left: 15%;
	

}
.voiture2{
	height: 5%;
	width: 5%;
	padding-top: 70px;
	margin-left: 2%;
	

}

.control{
	margin-left:80px;
	color: white;	font-family: 'PT Sans', sans-serif;
}



.moncercle1{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 350px;
  float: left;
}
.moncercle2{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}
.cercle{
	margin-top: -7px;
}
.cplein{
	background:#00D8EF;
}

.front{
	
	color: white;	font-family: 'PT Sans', sans-serif;
	margin-top: -12px; 
	float: left;
	padding-left: 50px;
}

#rear{
	padding-left: 40px;
}

.moncercle3{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 30px;
  float: left;
}
.moncercle4{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;

}


.moncercle5{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 55px;
  float: left;
}
.moncercle6{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}