// Reset import 
@import '_reset.scss';

// Variables import
@import '_variables.scss';

// Variables import
@import '_fonts.scss';

// Views import
@import '_menu.scss';


@import url(https://fonts.googleapis.com/css?family=PT+Sans);


html{
	overflow-x: hidden;
}


body{
	color: white;
	font-family: 'PT Sans', sans-serif;
}

.screen{
	width: 1200px;
	height: 1920px;
	background-color: #202847;
	background-image: url("../assets/img/Background.png");
	position: absolute;
	z-index: initial; 
	display: flex;
	flex-wrap: wrap;
}

.content{
	width: 1200px;
	
	nav{
		display: none;
		width: 80px;
		height: 1490px;
    	padding-top: 30px;
   		margin-top: 100px;
		background: -webkit-linear-gradient(#020C2F, #151C35, #020C2F); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#020C2F, #151C35, #020C2F); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#020C2F, #151C35, #020C2F); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#020C2F, #151C35, #020C2F); /* Standard syntax */
		flex: 1;
	
		.inactive{
			opacity: 0.5;
			transition: opacity 0.5s ease;
		}

		.active{
			opacity: 1;
			transition: opacity 0.5s ease;
			
		}
		.imgtaille{
			fill-color: red;
			height: 30px;
			width: 30px;
			margin-left: 30%;
		}

		

		.marge{
			margin-top: 30px;
		}
		.hrr_blue{
			width: 79px;
			height:2px;
			background-color: #475272;
			margin-top: 30px;
		}
	}
	section{
		width: 1042px;
		margin-top: 100px;
		padding:0px;
		display: none;
		flex: 1;
		float: right;
		//display: inline-block;
		height: 1479px;
	}
}

header{
	z-index: 10;
	top: 0px;
	height: 80px;
	display: none;
	width: 100%;
	position: absolute;
	background-color: #020d2d;

	.heure{
	padding-left: 10px;
	padding-top:30px;
 	font-style: italic;
 	float: left;

	}
	.tesla{
	 	font-style: bold;
	 	/*padding-top:10px;*/
	 	text-align: center;
	 	float: left;
	 	margin-left: 470px;
	}
	.img1{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 200px;


	}
	.batterie{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}


.logout{
	width:80px;
	height:80px;

}



	.img2{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 90px;


	}

	.signal{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}




	.img3{
		width:30px;
		height:30px;
		float: left;
		margin-top: 20px;
		margin-left: 90px;
	}

	.meteo{
		padding-top: 28px;
		margin-left: 8px;
		float: left;
	}
}












footer{
	z-index: 10;
	height: 300px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: rgba(2, 13, 45, 1);
    right: 40px;
    bottom:0px;


#iconefoot
{
	position:absolute;
	width:590px;
	height:140px;
	bottom:95px;
	left:50%;
	margin-left:45px;
	transform:translate(-50%);

	.listeicone{
		width: 100%;
		height:70px;

		img{
			display: inline-block;
			float:left;
			height:50px;
			margin-right:45px;
		}
		img:last-child{
			margin-right:0px;
		}
		.front{height:50px;transform:scale(1.55);margin-left:10px;}
		.aeration{transform:scale(0.9);}
		.ventilation{height:50px;transform:scale(1.2);}
		.arriere{transform:scale(0.9);}
	}

	.listename{
		width: 110%;
		margin-left: -5%;
		height:60px;

		.namebloc{
			width: 16.6%;
			height:100%;
			display: inline-block;
			float: left;

			p{
				margin-top: -3px;
			}
			.p_front{margin-left:35px;}
			.p_airflow{margin-left:22px;}
			.p_rear{margin-left:38px;}

			.cerclebox1{
				width: 100%;
				height:100%;
				margin-left: 33px;

				span{
					width: 10px;
					height:10px;
					margin-right: 5px;
					border-radius:50%;
					display: inline-block;
					float: left;
				}

				.active{
					background:#26B0D3;
					border:1px solid #26B0D3;
				}
				.noactive{
					background:transparent;
					border:1px solid #26B0D3;
				}
			}
			.cerclebox2{
				width: 100%;
				height:100%;
				margin-left: 15px;

				span{
					width: 10px;
					height:10px;
					margin-right: 5px;
					border-radius:50%;
					display: inline-block;
					float: left;
				}

				.active{
					background:#26B0D3;
					border:1px solid #26B0D3;
				}
				.noactive{
					background:transparent;
					border:1px solid #26B0D3;
				}
			}
			.cerclebox3{
				width: 100%;
				height:100%;
				margin-left: 32px;

				span{
					width: 10px;
					height:10px;
					margin-right: 5px;
					border-radius:50%;
					display: inline-block;
					float: left;
				}

				.active{
					background:#26B0D3;
					border:1px solid #26B0D3;
				}
				.noactive{
					background:transparent;
					border:1px solid #26B0D3;
				}
			}
		}

	}

}



.volvol{
	position:absolute;
	bottom:85px;
	left::20px;
}

#syncpower{
	position:absolute;
	bottom:0px;
	width:auto;
	height:80px;
	left:50%;
	transform:translate(-50%);
	margin-left:40px;

	.sync_icon{
		height:55px;
		position:absolute;
		margin-left: -10px;
		margin-top: -20px;
	}
	.syncblue{
		display: none;
	}
	.power_icon{
		height:42px; 
		margin-top: -13px;
		margin-left:88px; 
		margin-bottom: 7px;
	}

	.p_sync{
		margin-left:10px;
		margin-top: 5px;
		font-size: 14px;
		transition:color 0.5s ease;
	}
	.p_power{
		margin-left: 88px;
		margin-top: -14px;
		font-size: 14px;
	}
}

.volvol1{
	position:absolute;
	bottom:85px;
	right:330px;
}

.barvol{
	height: 2px;
	width: 100px;
}






}







input[type=range].monbouton {
  -webkit-appearance: none;
  width:200px;

}
input[type=range].monbouton:focus {
  outline: none;
}
input[type=range].monbouton::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: blue;
  border-radius: 25px;
  border: 0.2px solid #FFF;
}
input[type=range].monbouton::-webkit-slider-thumb {
  border: 2px solid #FFF;
  box-shadow: 0 0 3pt 2pt red;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background:#020D2D;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18.2px;
}
input[type=range].monbouton:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].monbouton::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 25px;
  border: 0.2px solid #000000;
}
input[type=range].monbouton::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ff0000, 0px 0px 0px #ff1a1a;
  border: 0.5px solid #ff0000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].monbouton::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].monbouton::-ms-fill-lower {
  background: #ffffff;
  border: 0.2px solid #000000;
  border-radius: 50px;
}
input[type=range].monbouton::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #000000;
  border-radius: 50px;
}
input[type=range].monbouton::-ms-thumb {
  box-shadow: 0px 0px 0px #ff0000, 0px 0px 0px green;
  border: 0.5px solid #ff0000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 0px;
}
input[type=range].monbouton:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].monbouton:focus::-ms-fill-upper {
  background: #ffffff;
}





.syncro{
	margin-top: 40px;
	position: absolute;
	margin-left: 80px;
}



.mapos{
    margin-left: -740px;
    margin-top: 40px;
    position: absolute;
}

.mapos1{
    margin-left: 98px;
    margin-top: 40px;
    position: absolute;
}


.footerbas{
	background: transparent;
	margin-left: 80px;
	margin-bottom: 2px;
	margin-bottom: 50px;


}

.moins{
	    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    border: solid 2px white;
    padding-top: 10px;
    margin-top: 20px;
    position: absolute;
    margin-left: -82px;
}
.plus{
      border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    border: solid 2px white;
    padding-top: 10px;
    margin-top: 20px;
    position: absolute;
    margin-left: 156px;

}







.moins1{
	    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    border: solid 2px white;
    padding-top: 10px;
    margin-top: 20px;
    position: absolute;
    margin-left: 58px;
}
.plus1{
   border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    border: solid 2px white;
    padding-top: 10px;
    margin-top: 20px;
    position: absolute;
    margin-left: 296px;

}













.contour{
	height:70px;
	width: 70px;
	border: solid 2px green;
	border-radius: 50%;
	position: absolute;
	margin-left: 55px;
	margin-top: -15px;
}
.milieu{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 9px;
	margin-left: 70px;
	background-color: #1F274F;
	position: absolute;
}
.contour2{
	height:70px;
	width: 70px;
	border: solid 2px red;
	border-radius: 50%;
	position: absolute;
	margin-left: 155px;
	margin-top: -15px;
}
.milieu2{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	border:solid 2px white;
	padding-top: 9px;
	margin-left: 170px;
	background-color: #1F274F;
	position: absolute;
}
.tiret{
	height:2px;
	background-color:white;
	width: 300px;
	margin-left: 140px;
	margin-top:73px;
	position: absolute;
}
.tiret2{
	height:2px;
	background-color:white;
	width: 300px;
	margin-left: 840px;
	margin-top:73px;
	position: absolute;
}
.power1{
	height: 30px;
	width: 30px;
	margin-left: 510px;
	margin-top: -40px;
	position: absolute;

}

.power2{
	height: 30px;
	width: 30px;
	margin-left: 560px;
	margin-top: -40px;
	position: absolute;

}
.boutonv{
	margin-left: 20px;
	margin-top: 50px;
	display: flex;
}

.droitev{
	margin-left: 700px;
	margin-top: -90px;
}

.powe{
	margin-left: 550px;
	position: absolute;
	margin-top: -5px;
}
.sync{
margin-left: 500px;
	position: absolute;
	margin-top: -5px;
}



.divvolume{



background-color:#272F4E;
	width: 100px;
	border-radius: 50px;
	height: 35px;
	margin-left: 950px;
	  margin-top: -52px;
	  color: white;

}

.onofff{
	position:relative;
	left:1090px;
	margin-top:-85px;
	width:100px;
	height:50px;
	border-radius:50px;
	background:#182346;

	.roundmove{
		position:absolute;
		width: 58px;
		height:58px;
		left:0px;
		top:-4px;
		background:rgba(241,48,78,0.3);
		border:3px solid #F1304E;
		border-radius:100%;
	}

	p{
		position:absolute;
		color: #FFF;
		height:50px;
		width:50px;
		line-height: 50px;
	}
	#put_on{
		left:20px;
	}
	#put_off{
		right:-15px;
	}
}

.carbox{
	position:relative;
	width:100px;
	height:95px;
	margin-top:60px;
	margin-left:90px;

	.voiture{
		position:absolute;
		height:70px;
		left:50%;
		margin-left: 2px;
		transform: translate(-50%);
	}

	.voitureblue{
		display: none;
	}

	p{
		position:absolute;
		bottom:0;
		left:50%;
		font-size: 17pt;
		transform: translate(-50%);
	}
}

.barhr{
     width: 85%;
    border: solid 2px #2E3554;
    margin-top: 2px;
    padding: -8px;
}


.voiture1{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 200px;
	

}
.voiture2{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 25px;
	

}

.voiture3{
	height: 4%;
	width: 4%;
	padding-top: 70px;
	margin-left: 28px;
	

}

.control{
	margin-left: 120px;
	margin-top:10px;
	color: white;
	font-size:16pt;	
	font-family: 'PT Sans', sans-serif;
}



.moncercle1{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 420px;
  float: left;
}
.moncercle2{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}
.cercle{
	margin-top: -7px;
}
.cplein{
	background:#00D8EF;
}


.flow{
	
	color: white;
    font-family: 'PT Sans', sans-serif;
    margin-top: -12px;
    float: left;
    padding-left: 70px;
    padding-right: 20px;
}

.rear{
	
	color: white;
    font-family: 'PT Sans', sans-serif;
    margin-top: -12px;
    float: left;
    margin-left: 20px;
    padding-right: 20px;
}


#rear{
	padding-left: 30px;
}

.moncercle3{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 25px;
  float: left;
}
.moncercle4{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;

}


.moncercle5{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF;
 margin-left: 40px;
  float: left;
}
.moncercle6{
  
  border-radius:50%;
  width:10px;
  height:10px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
}



.container-on-off {
	background-color:#272F4E;
	width: 100px;
	border-radius: 50px;
	height: 35px;
	margin-left: 950px;
	  margin-top: -52px;
	  color: white;


	.right  {
		float: right;
		
		border-radius: 50%;
		padding: 10px;
		height: 45px;
		width: auto;
		margin-top: -60px;
	}
	.left {
		float: left;
		padding: 10px;
		height: 45px;
		width: auto;
		
		border-radius: 50%;
		border: 3px solid red;
		margin-top: -58px;

		background-color: rgba(0, 0, 43, 0.5);


	}
}










.moncercle22{
  
  border-radius:50%;
  width:50px;
  height:50px;
 border:2px solid #00D8EF; 
 margin-left: 3px;
  float: left;
  text-align: center;
  margin-top: -80px;
  margin-left: 200px;
}

.moncercle23{
  
  width:100px;
  height:50px;
  background-color: orange;
  margin-left: 3px;
  float: left;
  text-align: center;
  margin-top: -80px;
  margin-left: 240px;
  border-radius:50%;

  
}
.txtcercle{
	color:#FFF;
	padding-top: 30%;
}




// Views import
@import 'views/_auth.scss';
@import 'views/_warning.scss';
@import 'views/_main.scss';
@import 'views/_tirix.scss';
@import 'views/_gps.scss';
@import 'views/_contacts.scss';
@import 'views/_cellphone.scss';
@import 'views/_music.scss';
@import 'views/_mail.scss';
@import 'views/_settings.scss';

