::-webkit-scrollbar {
    width: 1px;
}
 
::-webkit-scrollbar-track {
    background: rgba(2, 13, 45, 1);
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #4b5274;
}


#cellphone{
	
	background-color: rgba(2, 13, 45, 1);
    z-index: 10;
    position: absolute;
    margin-left: 90px;
    top: 0;

     .body{

    	width:100%;
    	height:1473px;
    	border:2px solid #4b5274;
    	padding: 10px;

    	.pad{
    		float:left;
    		width:900px;
	    	height:960px;
	    	margin-right:10px;
	    	padding-left: 115px;
	    	display:none;

	    	img{
	    		width: 6%;
			    margin-left: 395px;
			    margin-top: -80px;
			    position: absolute;
	    	}

	    	.one{
				display: flex;
				
			}
			.two{
				display: flex;

			}
			.tree{
				display: flex;

			}
			.four{
				display: flex;

			}
			.ok{
				display: flex;
			}
			.pad{
				margin-left: 2%;
				margin-top: 1%;
			}
			.number{
				margin:20px;
			    width:100px;
			    background:#FF0000;
			    height:100px;
			    text-align:center;
			    font-size:220%;
			    border-radius:100px;
			    padding-top: 33px;
			    background: transparent;
			    border: solid 2px;
			    border-color:white;
			    transition: all 0.5s ease;
			}

			.number:hover{
				
				border: solid 3px;
				color: #FFB414;
				border-color:#FFB414;
				transition: all 0.5s ease;
			}

			.number:click{
				
				border: solid 3px;
				color: #FFB414;
				border-color:#FFB414;
				transition: all 0.5s ease;
			}
			.txtpad{
				margin-left: 20px;
			display: flex;
			margin-top: 20px;

			}

			.orange{
				color:#FFB414;
			}

			.numpad{
				margin-left: 49px;
				display: flex;
				margin-top: 40px;
				margin-bottom: 30px;
				font-size: 3em;
			}

			.appeler{
				width: 280px;
			    height: 150px;
			    margin-left: 70px;
			    margin-top: 68px;


				.cercle{
					border: 2px solid #4b5274;
				    border-radius: 50%;
				    height: 138px;
				    width: 138px;
				    margin-left: 74px;

					.bouton{
						z-index: 2;
						background-color: rgba(38, 44, 74, 1);
					    border: 2px solid #4b5274;
					    border-radius: 50%;
					    height: 72px;
					    width: 72px;
					    margin-left: 31px;
    					margin-top: -36px;

						img{
							width: 3%;
						    margin-left: 18px;
						    margin-top: 19px;
						}
					}

					.barre{
						z-index:0;
						width: 300px;
					    height: 2px;
					    border-radius: 1px;
					    background: #4b5274;
					    margin-left: -84px;
   						margin-top: 67px;
					}
				}
			}
    	}

    	.active{
    		display:block;
    	}


    	.appel{
    		position:absolute;
    		float:left;
    		width: 659px;
	    	height:960px;
	    	margin-right:10px;
	    	padding-left: 115px;


    		.identiter{
    			width: 540px;
			    height: 210px;
			    margin-left: -57px;

    			
    			.nom{
    				position: absolute;
				    left: 221px;
				    margin-left: 4px;
				    margin-top: 74px;
				    font-size: 200%;
    			}
    			.tel{
    				position: absolute;
				    left: 221px;
				    margin-left: 33px;
				    margin-top: 119px;
				    font-size: 130%;
				    color: grey;
    			}
    		}

    		.photo{
    			position: absolute;
			    width: 540px;
			    height: 411px;
			    margin-left: -57px;


    			img{
    				width: 70%;
				    margin-left: 78px;
				    margin-top: 18px;
    			}
    		}

    		.temps{
    			position: absolute;
			    width: 540px;
			    height: 70px;
			    margin-left: -57px;
			    top: 621px;


				p{
					font-size: 150%;
				    margin-left: 222px;
				    margin-top: 25px;
				}    		
			}

			.raccrocher{
				width: 280px;
			    position: absolute;
			    height: 150px;
			    margin-left: 70px;
			    top: 757px;



				.cercle{
					border: 2px solid #4b5274;
				    border-radius: 50%;
				    height: 138px;
				    width: 138px;
				    margin-left: 74px;

					.bouton{
						z-index: 2;
						background-color: rgba(38, 44, 74, 1);
					    border: 2px solid #4b5274;
					    border-radius: 50%;
					    height: 72px;
					    width: 72px;
					    margin-left: 31px;
    					margin-top: -36px;

						img{
							width: 47%;
						    margin-left: 19px;
						    margin-top: 19px;
						}
					}

					.barre{
						z-index:0;
						width: 300px;
					    height: 2px;
					    border-radius: 1px;
					    background: #4b5274;
					    margin-left: -84px;
   						margin-top: 67px;
					}
				}
			}

    	}

    	.liste{
    		width: 400px;
		    float: right;
		    height: 960px;
		    border: 2px solid #4b5274;
		    background-color: #020d2d;
		    overflow: scroll;
		    overflow-x: hidden;
		    margin-top: -960px;
		    position: absolute;
		    top: 983px;
		    left: 689px;

	    	p{
	    		margin: 10px;
	    		font-size: 115%;
	    	}

    		.contact{
    			border:1px solid #4b5274;
    			height:100px;
    			width:100%;
    			box-shadow: 0 0 2px #2187e7;
    			padding:5px;

    			.bebe{

    				width:100%;
    				height:100%;

    				img{
    					width: 22%;
    					margin-top: 2px;
    					margin-left: 2px;
    				}

    				.nom{
    					float: right;
					    margin-right: 110px;
					    margin-top: 21px;
    				}

    				.numero{
    					float: right;
					    margin-right: 170px;
					    margin-top: -34px;
					    font-size: 98%;
    				}

    			}


    		}

    	}
    }

    .recent{
   		border: 1px solid #4b5274;
	    width: 1067px;
	    height: 386px;
	    margin-top: 805px;
	    position: absolute;
	    top: 186px;
    		

    		.appel{
    			border:1px solid #4b5274;
    			height:96px;
    			width:100%;
    			box-shadow: 0 0 2px #2187e7;
    			padding:5px;
    			background-color:#020d2d;

    			.description{
    				float:left;
    				height: 100%;
   					width: 500px;
   					padding:5px;

    				img{
    					width: 15%;
					    margin-top: 1px;
					    margin-left: 3px;
    				}

    				.name{
    					margin-top: -48px;
					    margin-left: 110px;
					    font-size: 128%;
    				}

    				.number{
    					color: #4b5274;
					    margin-top: -19px;
    					margin-left: 400px;
    					font-size: 118%;
    				}

    			}

    			.info{
    				float:left;
    				height:100%;
    				width: 552px;
    				padding:5px;

    				.duree{
    					width:200px;
    					height:100%;
    					margin-left: 140px;

    					.durer{
    						float: right;
    						margin-right: 86px;
   							margin-top: 14px;
   							color: #4b5274;
    					}

    					.time{
    						float: right;
						    margin-right: -35px;
						    margin-top: 44px;
						    font-size: 101%;
						    

    					}

    					.attente{

						    padding: 10px;
						    margin-top: 0px;
						    margin-right: 67px;
    					}
    				}

    				p{
    					float: right;
					    margin-right: 20px;
					    margin-top: -41px;
    				}
    			}

    		}

    		.appel1{
    			border: 1px solid #4b5274;
			    height: 96px;
			    width: 100%;
			    box-shadow: 0 0 2px #2187e7;
			    padding: 5px;
			    margin-top: 96px;
			    background-color: #020d2d;

    			.description{
    				float:left;
    				height: 100%;
   					width: 500px;
   					padding:5px;

    				img{
    					width: 15%;
					    margin-top: 1px;
					    margin-left: 3px;
    				}

    				.name{
    					margin-top: -48px;
					    margin-left: 110px;
					    font-size: 128%;
    				}

    				.number{
    					color: #4b5274;
					    margin-top: -19px;
    					margin-left: 400px;
    					font-size: 118%;
    				}

    			}

    			.info{
    				float:left;
    				height:100%;
    				width: 552px;
    				padding:5px;

    				.duree{
    					width:200px;
    					height:100%;
    					margin-left: 140px;

    					.durer{
    						float: right;
    						margin-right: 86px;
   							margin-top: 14px;
   							color: #4b5274;
    					}

    					.time{
    						float: right;
						    margin-right: -35px;
						    margin-top: 44px;
						    font-size: 101%;
						    

    					}

    					.attente{

						    padding: 10px;
						    margin-top: 0px;
						    margin-right: 67px;
    					}
    				}

    				p{
    					float: right;
					    margin-right: 20px;
					    margin-top: -41px;
    				}
    			}

    		}

    		.appel2{
    			border:1px solid #4b5274;
    			height:96px;
    			width:100%;
    			box-shadow: 0 0 2px #2187e7;
    			padding:5px;
    			background-color:#020d2d;

    			.description{
    				float:left;
    				height: 100%;
   					width: 500px;
   					padding:5px;

    				img{
    					width: 15%;
					    margin-top: 1px;
					    margin-left: 3px;
    				}

    				.name{
    					margin-top: -48px;
					    margin-left: 110px;
					    font-size: 128%;
    				}

    				.number{
    					color: #4b5274;
					    margin-top: -19px;
    					margin-left: 400px;
    					font-size: 118%;
    				}

    			}

    			.info{
    				float:left;
    				height:100%;
    				width: 552px;
    				padding:5px;

    				.duree{
    					width:200px;
    					height:100%;
    					margin-left: 140px;

    					.durer{
    						float: right;
    						margin-right: 86px;
   							margin-top: 14px;
   							color: #4b5274;
    					}

    					.time{
    						float: right;
						    margin-right: -35px;
						    margin-top: 44px;
						    font-size: 101%;
						    

    					}

    					.attente{

						    padding: 10px;
						    margin-top: 0px;
						    margin-right: 67px;
    					}
    				}

    				p{
    					float: right;
					    margin-right: 20px;
					    margin-top: -41px;
    				}
    			}

    		}

    		.appel3{
    			border:1px solid #4b5274;
    			height:96px;
    			width:100%;
    			box-shadow: 0 0 2px #2187e7;
    			padding:5px;
    			background-color:#020d2d;

    			.description{
    				float:left;
    				height: 100%;
   					width: 500px;
   					padding:5px;

    				img{
    					width: 15%;
					    margin-top: 1px;
					    margin-left: 3px;
    				}

    				.name{
    					margin-top: -48px;
					    margin-left: 110px;
					    font-size: 128%;
    				}

    				.number{
    					color: #4b5274;
					    margin-top: -19px;
    					margin-left: 400px;
    					font-size: 118%;
    				}

    			}

    			.info{
    				float:left;
    				height:100%;
    				width: 552px;
    				padding:5px;

    				.duree{
    					width:200px;
    					height:100%;
    					margin-left: 140px;

    					.durer{
    						float: right;
    						margin-right: 86px;
   							margin-top: 14px;
   							color: #4b5274;
    					}

    					.time{
    						float: right;
						    margin-right: -35px;
						    margin-top: 44px;
						    font-size: 101%;
						    

    					}

    					.attente{

						    padding: 10px;
						    margin-top: 0px;
						    margin-right: 67px;
    					}
    				}

    				p{
    					float: right;
					    margin-right: 20px;
					    margin-top: -41px;
    				}
    			}

    		}

    		.appel4{
    			border: 1px solid #4b5274;
			    height: 96px;
			    width: 100%;
			    box-shadow: 0 0 2px #2187e7;
			    padding: 5px;
			    margin-top: 0px;
			    background-color: #020d2d;

    			.description{
    				float:left;
    				height: 100%;
   					width: 500px;
   					padding:5px;

    				img{
    					width: 15%;
					    margin-top: 1px;
					    margin-left: 3px;
    				}

    				.name{
    					margin-top: -48px;
					    margin-left: 110px;
					    font-size: 128%;
    				}

    				.number{
    					color: #4b5274;
					    margin-top: -19px;
    					margin-left: 400px;
    					font-size: 118%;
    				}

    			}

    			.info{
    				float:left;
    				height:100%;
    				width: 552px;
    				padding:5px;

    				.duree{
    					width:200px;
    					height:100%;
    					margin-left: 140px;

    					.durer{
    						float: right;
    						margin-right: 86px;
   							margin-top: 14px;
   							color: #4b5274;
    					}

    					.time{
    						float: right;
						    margin-right: -35px;
						    margin-top: 44px;
						    font-size: 101%;
						    

    					}

    					.attente{

						    padding: 10px;
						    margin-top: 0px;
						    margin-right: 67px;
    					}
    				}

    				p{
    					float: right;
					    margin-right: 20px;
					    margin-top: -41px;
    				}
    			}

    		}
    }
}

