#contacts{
	
	background-color: #010B2C;
	width:1042px;
	height:1479px;
    z-index: 10;
    position: absolute;
    margin-left: 115px;
    top: 5px;
    padding:0;
    background-size:100% 100%;
    background-position:top;

    img{
    	width: 1042px;
    	height:1479px;
    }
}

