#contacts{
	
	background-color: #010B2C;
	width:1052px;
	height:1489px;
    z-index: 10;
    position: absolute;
    margin-left: 110px;
    top: -5px;
    padding:0;
    background-size:100% 100%;
    background-position:top;

}

