#dash{
	z-index:1;
	position: absolute;
    margin-left: 115px;
    top: 0;

	.big-head{
		background: url("../assets/img/screens/widget-map.png") no-repeat;
    width: 100%;
    margin-bottom: 10px;
    height: 618px;
    border-bottom: 2px solid #2E3658;
    background-size: 100%;
	}
	.graph {
		display: flex;
		justify-content: center;
		
		
#container{
	margin-top: -400px;
}
	

	.mid-left{
		    width: 620px;
		    height: 396px;
    		margin-bottom: 10px;
    		border: 2px solid #2E3554;
    		padding-bottom: 20px;




	.sidebar2{
			

        width: 66px;
    height: 374px;
    background-color: rgba(0, 0, 255, 0.05);
    background: #111B3B;
    margin-right: 80px;
    margin-left: 9px;
    margin-top: 10px;



	}
	.imgsidebar2{
		    width: 30px;
    height: 30px;
    margin-left: 19px;
    margin-top: 30px;


	}


.blue1{
	    color: #00D8EF;
    margin-left: 100px;
    margin-top: -360px;
    position: absolute;

}
.blue2{
	
	    color: white;
    margin-left: 170px;
    margin-top: -360px;
    position: absolute;
}



	}



.blue{

	margin-left:15px;

}








	.mid-right{
	background-color: transparent;
    width: 593px;
    margin-bottom: 10px;
    display: flex;
    height: 396px;
    border: 2px solid #2E3554;
    margin-left: 10px;




.sidebar2{
		       margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 375px;
    background-color: rgba(0, 0, 255, 0.05);
    background: #111B3B;
    margin-right: 80px;


	}
	.imgsidebar2{
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: 30px;


	}







		.bplayer{
		    display: flex;
		    background: url("../assets/img/pochette.jpg") no-repeat;
		    background-position: 60% 50%;
		    background-size: 70%;
		    align-items: center;
		    margin-left: -170px;
		    height: 375px;
		    margin-right: 30px;

		}
		.bluechelou{
	color:#2E3554;
}
		
		.player_action{
		}
		.play{
			width: 100px;
			height: 100px;
			margin-left: 50px;
		}
		.pause{
			width: 100px;
			height: 100px;
			display: none;
			margin-left: 50px;

		}
		.next{
			margin-left: 90px;

			width: 25px;
			height: 25px;
			
		}
		.prev{
		

			width: 25px;
			height: 25px;
			margin-left: 20px;
			margin-right: 50px;
		



		}

		.pmenu{
			background-color: red;
			width: 10%;
			height: auto;
		}




.txtpad2{
margin-left:-60px;
display: flex;
margin-top: 20px;

}

.blue{
	color:#00D8EF;
}

.musiclec{
	margin-left: -250px;
	margin-top: 330px;
	text-align: center;
}


	}




	}
	.big-foot{
		background-color: transparent;
	    width: 100%;
	    height: 442px;
	    border: solid 2px #2E3554;

	
	.sidebar{
	     width: 66px;
	    margin-left: 10px;
	    height: 420px;
	    background-color: rgba(0, 0, 255, 0.05);
	    background: #111B3B;
	    margin-top: 10px;


	}
	.imgsidebar{
		width: 30px;
	    height: 30px;
	    margin-left: 18px;
	    margin-top: 30px;


	}


.txtphone{
color:white;


}
.delete{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #FFB414;
    border: solid 2px #FFB414;
    position: absolute;
    text-align: center;
    padding-left: px;
    padding-top: 5px;
    background: #775C25;
    margin-left: 245px;
    margin-top: -60px;
}

.one{
	display: flex;
	

}
.two{
	display: flex;

}
.tree{
	display: flex;

}
.four{
	display: flex;

}
.ok{
	display: flex;
}
.pad{
	margin-left: 2%;
    margin-top: -7px;
}
.number{
	margin:10px;
    width:60px;
    background:#FF0000;
    height:60px;
    text-align:center;
    border-radius:100px;
    padding-top: 20px;
    background: transparent;
    border: solid 2px;
    border-color:white;
    transition: all 0.5s ease;
}

.number:hover{
	
	border: solid 3px;
	color: #FFB414;
	border-color:#FFB414;
	transition: all 0.5s ease;
}

.number:click{
	
	border: solid 3px;
	color: #FFB414;
	border-color:#FFB414;
	transition: all 0.5s ease;
}
.txtpad{
	margin-left: 20px;
display: flex;
margin-top: 20px;

}

.orange{
	color:#FFB414;
}

.numpad{
    margin-left: 20px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2em;
}
.vertc{
	color:#95C25D;
}
.rougec{
	color: #F1304F;
}


.historique{
	margin-left: 60px;
    margin-top: 40px;
}
.strong{
	


////////


}

.petit{
    font-size: 0.8em;
    line-height: 27px
}


.losange{
	idth: 60px;
    height: 60px;
    margin-top: 0px;
    margin-left: 30px;

}

.phonebutton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #2E3554;
    padding: 6px;
    margin-left: 14px;
    margin-top: 14px;
    background-color: #202946;
}

	

.hrphone{
      height: 2px;
    width: 121px;
    margin-left: -29px;
    margin-top: -23px;
    border: solid 1px #2E3554;
}

.callerphone{
	
	margin-top: 10px;
    margin-left: 27px;
    width: 70px;
    padding-left: -4px;
    height: 70px;
    border-radius: 50px;
    border: solid 2px #2E3554;
}

.contact{
	
	display: flex;
    height: 55px;
    margin-top: 5px;
	

}
.cont{
    margin-top: 12px;
    margin-left: 20px;
    width: 200px
}
.contactcontenu{

    margin-left: 43px;
    margin-top: 16px;
    /* background-color: rgba(0, 0, 255, 0.05); */
    background: #051032;
    border-left: solid 3px #2E3554;
    border-right: solid 3px #2E3554;
    width: 48%;
    height: 411px;
    padding-top: -30px;



}

.bar{
	width: 3px;
    height: 40px;
    background: #2E3554;
    margin-left: 40px;
    margin-top: 12px;
}

.iconegauche{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.icons{
	margin-top: 12px;
	margin-right: 10px;
	width: 50%;
}

.iconedroite{
	width: 40px;
	height: 40px;
	margin-left:30px;
}
}


}
