.main{

	.big-head{
		background-color: #FFFFFF;
		width: 100%;
		margin-bottom: 10px;
	}
<<<<<<< HEAD
	.mid-left{
		background-color: #FFFFFF;
		width: 542px;
=======
	.graph {
		display: flex;
		justify-content: center;


	.mid-left{
		background-color: #FFFFFF;
		width: 50%;
>>>>>>> 537610d3d7df11491ac070892cb23317670c3857
		margin-bottom: 10px;
		display: inline-block;
	}
	.mid-right{
<<<<<<< HEAD
		background-color: #FFFFFF;
		width: 543px;
		margin-bottom: 10px;
		display: inline-block;
=======
	    background:url("../assets/img/pochette.jpg") no-repeat;
	    background-position:center center;
	    background-size:50%;
		width: 50%;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-around;
		align-items:center;
		height: auto;

		.player{
			 margin-left: 20px;

		}
		
		.play{

			

			width: 100px;
			height: 100px;




		}
		.next{
			

			width: 25px;
			height: 25px;
		
		}
		.prev{
		

			width: 25px;
			height: 25px;



		}

		.pmenu{
			background-color: red;
			width: 10%;
			height: auto;
		}
	}
>>>>>>> 537610d3d7df11491ac070892cb23317670c3857
	}
	.big-foot{
		background-color: #FFFFFF;
		width: 100%;
	}
}
