#dash{
	z-index:1;
	position: absolute;
    margin-left: 90px;
    top: 0;

	.big-head{
		background:url("../assets/img/map.png") no-repeat;
		width: 100%;
		margin-bottom: 10px;
		height: 500px;
		
	    background-size:100%;
	}
	.graph {
		display: flex;
		justify-content: center;
		
		
#container{
	margin-top: -400px;
}

	.mid-left{
		    width: 620px;
    		margin-bottom: 10px;
    		border: 2px solid #2E3554;




	.sidebar2{
			width: 70px;
			height: 450px;
			background-color: rgba(0, 0, 255, 0.05);
			background: rgba(0, 0, 255, 0.05);
			margin-right:80px;



	}
	.imgsidebar2{
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: 30px;


	}


.blue1{
	color: #00D8EF;
	margin-left:100px;
	margin-top: -430px;
	position: absolute;

}
.blue2{
	color: white;
	margin-left:170px;
	margin-top: -430px;
	position: absolute;

}



	}



.blue{

	margin-left:15px;

}








	.mid-right{
	background-color: transparent;
    width: 593px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    height: auto;
    border: 2px solid #2E3554;
    margin-left: 10px;




.sidebar2{
		width: 70px;
		height: 450px;
		background-color: rgba(0, 0, 255, 0.05);
		background: rgba(0, 0, 255, 0.05);
		margin-right:80px;


	}
	.imgsidebar2{
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: 30px;


	}







		.bplayer{
		    display: flex;
		    background: url("../assets/img/pochette.jpg") no-repeat;
		    background-position: 60% 50%;
		    background-size: 70%;
		    align-items: center;
		    margin-left: -170px;
		    margin-right: 30px;

		}
		.bluechelou{
	color:#2E3554;
}
		
		.player_action{
		}
		.play{
			width: 100px;
			height: 100px;
			margin-left: 50px;
		}
		.pause{
			width: 100px;
			height: 100px;
			display: none;
			margin-left: 50px;

		}
		.next{
			margin-left: 90px;

			width: 25px;
			height: 25px;
			
		}
		.prev{
		

			width: 25px;
			height: 25px;
			margin-left: 20px;
			margin-right: 50px;
		



		}

		.pmenu{
			background-color: red;
			width: 10%;
			height: auto;
		}




.txtpad2{
margin-left:-60px;
display: flex;
margin-top: 20px;

}

.blue{
	color:#00D8EF;
}

.musiclec{
	margin-left: -250px;
	margin-top: 380px;
	text-align: center;
}


	}




	}
	.big-foot{
		background-color: transparent;
	    width: 100%;
	    height: 500px;
	    border: solid 2px #2E3554;

	
	.sidebar{
		    width: 6%;
    height: 450px;
    background-color: rgba(0, 0, 255, 0.05);
    background: rgba(0, 0, 255, 0.05);
    /* margin-left: 15px; */


	}
	.imgsidebar{
		width: 30px;
		height: 30px;
		margin-left: 20px;
		margin-top: 30px;


	}


.txtphone{
color:white;


}
.delete{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #FFB414;
    border: solid 2px #FFB414;
    position: absolute;
    text-align: center;
    padding-left: px;
    padding-top: 5px;
    background: #775C25;
    margin-left: 105px;
    margin-top: -30px;
}

.one{
	display: flex;
	

}
.two{
	display: flex;

}
.tree{
	display: flex;

}
.four{
	display: flex;

}
.ok{
	display: flex;
}
.pad{
	margin-left: 2%;
	margin-top: 1%;
}
.number{
	margin:10px;
    width:60px;
    background:#FF0000;
    height:60px;
    text-align:center;
    border-radius:100px;
    padding-top: 20px;
    background: transparent;
    border: solid 2px;
    border-color:white;
    transition: all 0.5s ease;
}

.number:hover{
	
	border: solid 3px;
	color: #FFB414;
	border-color:#FFB414;
	transition: all 0.5s ease;
}

.number:click{
	
	border: solid 3px;
	color: #FFB414;
	border-color:#FFB414;
	transition: all 0.5s ease;
}
.txtpad{
	margin-left: 20px;
display: flex;
margin-top: 20px;

}

.orange{
	color:#FFB414;
}

.numpad{
    margin-left: 20px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2em;
}
.vertc{
	color:#95C25D;
}
.rougec{
	color: #F1304F;
}


.historique{
	margin-left: 60px;
	margin-top: 90px;
}
.strong{
	


////////


}

.petit{
	font-size: 0,2em;
}


.losange{
	width: 70px;
	height:70px;
	margin-top: 0px;
	margin-left: 30px;

}

.phonebutton{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #2E3554;
    padding: 6px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: #202946;

	
}
.hrphone{
	height: 2px;
    width: 170px;
    margin-left: -40px;
    margin-top: -30px;
    border: solid 1px #2E3554;
}

.callerphone{
	margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 2px #2E3554;
}

.contact{
	display: flex;
	

}
.cont{
	margin-top: 20px;
	margin-left: 20px;
}
.contactcontenu{

       margin-left: 50px;
    margin-top: 20px;
    background-color: rgba(0, 0, 255, 0.05);
    background: rgba(0, 0, 255, 0.05);
    border-left: solid 3px #2E3554;
    border-right: solid 3px #2E3554;
    width: 48%;
    height: 450px;
    padding-top: -10px;

}

.bar{
	width: 3px;
    height: 40px;
    background: #2E3554;
    margin-left: 120px;
    margin-top: 20px;
}

.iconegauche{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.icons{
	margin-top: 20px;
	margin-right: 10px;
}

.iconedroite{
	width: 40px;
	height: 40px;
	margin-left:30px;
}
}


}

