.main{

	.big-head{
		background-color: #FFFFFF;
		width: 100%;
		margin-bottom: 10px;
	}
	.mid-left{
		background-color: #FFFFFF;
		width: 542px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.mid-right{
		background-color: #FFFFFF;
		width: 543px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.big-foot{
		background-color: #FFFFFF;
		width: 100%;
	}
}
