
	body
{
    width:1920px;
    background-color:#202847;
    height:1200px;
}

.bar {
	width: 2px;
	height: 600px;
	background-color: blue;


}
.cont{
	background-color: grey;
height:  100%;
}

.bar1 {
	width: 1%;
	height: 500px;
	background-color: red;

}
.carte {
	width: 1%;
	height: 500px;
	background-color: blue;

}

.bar2 {
	width: 80%;
	height: 600px;
	background-color: green;
	margin-top: 10px;

}