#settings{
	background-color: rgba(2, 13, 45, 1);
    z-index: 70;
    position: absolute;
   	width: 100%;
    top: -10px;

    .close{
    	position: absolute;
		margin-left: 55px;

    	.close_button{
    		width: 80px;
    		height: 80px;
    	}
    }
    .blindage{
        position:absolute;
        top:520px;
        right:70px;
        width:130px;
        height:180px;
        float:right;

        .iconeB_on{
            position:absolute;
            width: 130px;
            height:130px;
            margin-left: 10px;
            background: url(../assets/img/Blindage.svg);
            background-size:100%;
            display: none

        }
        .iconeB_off{
            position:absolute;
            width: 130px;
            height:130px;
            margin-left: 10px;
            background: url(../assets/img/BlindageOff.svg);
            background-size:100%;
        }

        .name{
            position:absolute;
            bottom:25px;
            right:20px;
            margin-top: 10px;
        }
        .off{
            position:absolute;
            bottom:0;
            right:40px;
            margin-left: 20px;
            margin-top: 10px;
            color: #00C5DD;
            transition: all ease 0.5s;
        }
        .on{
            position:absolute;
            bottom:0;
            right:45px;
            margin-left: 20px;
            margin-top: 10px;
            color: #F1304E;
            transition: all ease 0.5s;
        }
    }
    .urgency{
        position:absolute;
        top:320px;
        right:70px;
        width:130px;
        height:180px;
        float:right;


        .iconeU_on{
            position:absolute;
            width: 130px;
            height:130px;
            margin-left: 10px;
            background: url(../assets/img/UrgencyOn.svg);
            background-size:100%;
            display: none;

        }
        .iconeU_off{
            position:absolute;
            width: 130px;
            height:130px;
            margin-left: 10px;
            background: url(../assets/img/UrgencyOff.svg);
            background-size:100%;
        }

        .name{
            position:absolute;
            bottom:25px;
            right: 0;
            margin-top: 10px;
        }
        .off{
            position:absolute;
            bottom:0;
            right:40px;
            margin-left: 20px;
            margin-top: 10px;
            color: #00C5DD;
            transition: all ease 0.5s;
        }
        .on{
            position:absolute;
            bottom:0;
            right:45px;
            text-align: center;
            margin-left: 20px;
            margin-top: 10px;
            color: #F1304E;
            transition: all ease 0.5s;
        }
    }
    .lights_control{
    	margin-top: 35px;
		//background-color: #000000;
		width: 650px;
		height: 260px;
		margin-left: 474px;
		margin-right: 70px;
    	.header{
    		width: 100%;
    		margin-bottom: 30px;

			h1{
				display: inline-block;
                font-size: 16pt;
                margin-right: 10px;
			}
			h2{
				display: inline-block;
                color: #465070;
                margin-top: 3px;
			}
    	}
    	.state{
    		width: 100%;
    		height: 75px;
    		border: 2px solid #4F5A7A;
    		background-color: #010C2F;
    		margin-bottom: 30px;

    		ul{
    			width: 100%;
    			font-size: 13pt;
    			text-align: center;
    			line-height:70px;
                transition: all 0.5s ease;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;


    			li{
                    display: block;
    				vertical-align:middle;
                    width: 100%;
    			}
    		}
    		.active{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
				border: 1px solid #00D8EF;
				background-color: rgba(0, 216, 239, 0.2);
                transition: all 0.5s ease;
    		}
			.off{}
    		.parking{}
    		.auto{}
    		.on{}
    	}
    	.options{
    		width: 100%;
    		display: flex;
    		justify-content: space-between;
    		div{
    			width: 100%;
    			font-size: 13pt;
    			text-align: center;
    			line-height:74px;
    			border: 2px solid #4F5A7A;
                transition: all 0.5s ease;

    			p{
    				vertical-align:middle;
    			}
    		}

			.active{
				border: 1px solid #4F5A7A;
				background-color: rgba(255, 219, 45, 0.9);
				color: #1F2749;
                transition: all 0.5s ease;
    		}
    		.drl{
    			margin-right: 30px;
    		}
    		.fog{
    			margin-right: 30px;
    		}
    		.dome{
    			margin-right: 30px;
    		}
    		.ambient{}
    	}
    }

    .car{

    	.lights{
    		position: absolute;
    		top: 85px;
            left: 93px;


    		img{
    			width: 323px;
    			height: 323px;
    		}
    	}

    	svg{
    		position: absolute;
    		left: 370px;
            top: 352px;
    	}

    	.car_skeleton{
    		margin-top: 100px;
    		display: flex;
    		justify-content: space-around;

    		.skeleton{

    		}
    	}
    }

    .lock{
    	font-size: 16px;
    	.front{
    		position: absolute;
			top: 470px;
			left: 455px;
			width: 240px;
			height: 120px;

    		.title{
    			text-align: center;
    			width: 100%;
    			margin-bottom: 15px;

    			h1{
    				margin-bottom: 10px;
    			}
    			h2{}
    		}
    		.icon{

    			margin: auto;
    			width: 50px;
    			height: 50px;
    			border-radius: 50%;
				display: block;
				background-color: rgba(0, 216, 239, 0.3);
				border: 2px solid #00D8EF;
			    text-align: center;
			    line-height: 55px;
                transition: all .5s ease;

    			img{
    				width: 25px;
    				height: auto;
    				vertical-align: sub;
    			}
    		}

    	}
    	.left{
    		position: absolute;
		    top: 840px;
		    left: 217px;
		    width: 225px;
		    height: 55px;
			
    		.title{
    			text-align: right;
    			float: left;
    			margin-top: 7px;
    			
    			margin-bottom: 15px;
    			display: block;
    			line-height: 14px;

    			h1{
    				margin-bottom: 10px;
    			}
    			h2{}
    		}
    		.icon{

    			float: right;
    			width: 50px;
    			height: 50px;
    			border-radius: 50%;
				//margin-right: 75px;
				display: block;
				background-color: rgba(0, 216, 239, 0.3);
				border: 2px solid #00D8EF;
			    text-align: center;
			    line-height: 55px;
                transition: all .5s ease;

    			img{
    				width: 25px;
    				height: auto;
    				vertical-align: sub;
    			}
    		}
            .bar{
                margin-top: 25px;
                float: right;
                width: 72px;
                height: 2px;
                background-color: #00D8EF;
                transition: all .5s ease;
            }
            .active{

            }
    	}
    	
    	.right{
    		position: absolute;
		    top: 840px;
		    left: 760px;
		    width: 225px;
		    height: 55px;
			
    		.title{
    			text-align: left;
    			float: right;
    			margin-top: 7px;
    			margin-bottom: 15px;
    			display: block;
    			line-height: 14px;

    			h1{
    				margin-bottom: 10px;
    			}
    			h2{}
    		}
    		.icon{

    			float: left;
    			width: 50px;
    			height: 50px;
    			border-radius: 50%;
				//margin-right: 15px;
				display: block;
				background-color: rgba(0, 216, 239, 0.3);
				border: 2px solid #00D8EF;
			    text-align: center;
			    line-height: 55px;
                transition: all .5s ease;

    			img{
    				width: 25px;
    				height: auto;
    				vertical-align: sub;
    			}
    		}
            .bar{
                margin-top: 25px;
                float: left;
                display: inline-block;
                width: 72px;
                height: 2px;
                background-color: #00D8EF;
                transition: all .5s ease;
            }
    	}
        .charge{
            position: absolute;
            top: 1280px;
            left: 360px;
            width: 225px;
            height: 55px;
            
            .title{
                display: block;
                margin-top: 20px;
                margin-left: -14px;
                margin-bottom: 15px;
                display: block;
                line-height: 14px;

                h1{
                    margin-bottom: 10px;
                }
                h2{
                    margin-left: 5px;
                }
            }
            .icon{
                margin-top: -48px;
                float: left;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                //margin-right: 15px;
                display: block;
                background-color: rgba(0, 216, 239, 0.3);
                border: 2px solid #00D8EF;
                text-align: center;
                line-height: 55px;
                transition: all .5s ease;

                img{
                    width: 25px;
                    height: auto;
                    vertical-align: sub;
                }
            }
            .bar{
                position:absolute;
                margin-top: -85px;
                margin-left: 10px;
                float: left;
                display: inline-block;
                width: 92px;
                height: 2px;
                background-color: #00D8EF;
                transform: rotate(-60deg);
                transition: all .5s ease;
            }
        }
    	.back{
    		position: absolute;
			top: 1105px;
			left: 480px;
			width: 240px;
			height: 120px;

    		.title{
    			text-align: center;
    			width: 100%;
    			

    			h1{
    				margin-bottom: 10px;
    			}
    			h2{}
    		}
    		.icon{ 
    			margin: auto;
    			margin-bottom: 15px;
    			width: 50px;
    			height: 50px;
    			border-radius: 50%;
				display: block;
				background-color: rgba(0, 216, 239, 0.3);
				border: 2px solid #00D8EF;
			    text-align: center;
			    line-height: 55px;
                transition: all .5s ease;

    			img{
    				width: 25px;
    				height: auto;
    				vertical-align: sub;
    			}
    		}
    	}
        .lock{
            .icon{
                background-color: rgba(241, 48, 79, 0.3);
                border: 2px solid rgba(241, 48, 79, 100);
                transition: all .2s ease;
            }
            .bar{
                background-color: rgba(241, 48, 79, 100);
                transition: all .5s ease;
            }

        }

    }

    .roof_open{
        position:absolute;
        width:202px;
        height:168px;
        background:url(../assets/img/Open.svg) no-repeat;
        background-position:bottom;
        background-size:100% 100%;
        left:50%;
        top:785px;
        margin-left: -100px;
        transition: all ease 0.5s;
    }
    .roof_close{
        position:absolute;
        width:202px;
        height:168px;
        background:url(../assets/img/Close.svg) no-repeat;
        background-position:bottom;
        background-size:100% 100%;
        left:50%;
        top:785px;
        margin-left: -100px;
        display: none;
        transition: all ease 0.5s;
    }

    .driving img{
        margin-top: 10px;
    }
    .charging img{
        margin-top: 10px;
    }

    .menu{
    	position: absolute;
    	top: 1190px;
		left: 52px;
    	width: 160px;
    	height: 235px;
	    display: flex;
	    justify-content: space-around;

    	.aside{
    		
    		height: 214px;
    		border: 1px solid #4F5A7A;
    		margin-right: 20px;
    		ul{
				padding-top: 10px;
				width: 50px;

    			li{
					height: 48px;
					text-align: center;
					line-height:48px;

    				img{
    					width: 25px;
    					height: auto;
    					vertical-align: sub;
    				}
    			}
    			.active{
    				background-color: rgba(0, 216, 239, 0.6);
    			}
    		}
    	}
    	.content{


    		ul{
    			padding-top: 10px;

    			li{
					font-size: 16px;
    				height: 48px;
    				line-height: 48px;
					vertical-align:middle;
    			}
    			.active{
    				color: #00D8EF;
    			}
    		}
    	}
    }
}


