#tirix{
	
	background: url("../assets/img/Background.png");
    z-index: 20;
    position: absolute; 
    margin-left: 90px;
    top: 0;

    .containerlogo{
    	    width: 1100px;
		    height: 500px;
		    margin-left: -50px;
   			padding-top: 100px;

   		.inactive{

   			img{
	   			width: 20%;
			    position: absolute;
			    margin-left: 416px;
			    margin-top: 41px
	   		}

	    	.ball {
				background-color: rgba(0,0,0,0);
				border:5px solid rgba(0,183,229,0.0);
				opacity:.9;
				border-top:10px solid rgba(0,0,0,0);
				border-left:1px solid rgba(0,0,0,0);
				border-radius:150px;
				box-shadow: 0 0 35px #2187e7;
				width:300px;
				height:300px;
			    margin-top: -5px;
	    		margin-left: 377px;
	    		transition: all 0.5s ease;
			}

			.ball1 {
				background-color: rgba(0,0,0,0);
				border:3px dashed rgba(255,255,255,0.9);
				opacity:.9;
				border-radius:175px;
				width:350px;
				height:350px;
			    margin-top: -324px;
	    		margin-left: 351px;
				top:-50px;
				transition: all 0.5s ease;
			}

			.ball2 {
				background-color: rgba(0,0,0,0);
				border:5px solid rgba(0,183,229,0.0);
				opacity:.9;
				border-top:1px solid rgba(0,0,0,0);
				border-left:10px solid rgba(0,0,0,0);
				border-radius:125px;
				box-shadow: 0 0 15px #2187e7; 
				width:250px;
				height:250px;
				margin-top: -251px;
	    		margin-left: 401px;
				position:relative;
				top:-50px;
				transition: all 0.5s ease;
			}
   		}	
   		.active{

   			img{
	   			width: 20%;
			    position: absolute;
			    margin-left: 416px;
			    margin-top: 41px
	   		}

	    	.ball {
				background-color: rgba(0,0,0,0);
				border:5px solid rgba(0,183,229,0.9);
				opacity:.9;
				border-top:10px solid rgba(0,0,0,0);
				border-left:1px solid rgba(0,0,0,0);
				border-radius:150px;
				box-shadow: 0 0 35px #2187e7;
				width:300px;
				height:300px;
			    margin-top: -5px;
	    		margin-left: 377px;
				-moz-animation:spinoff 4s infinite linear;
				-webkit-animation:spinoff 4s infinite linear;
				transition: all 0.5s ease;
			}

			.ball1 {
				background-color: rgba(0,0,0,0);
				border:3px dashed rgba(255,255,255,0.9);
				opacity:.9;
				border-radius:175px;
				width:350px;
				height:350px;
			    margin-top: -324px;
	    		margin-left: 351px;
				top:-50px;
				-moz-animation:spin 10s infinite linear;
				-webkit-animation:spin 10s infinite linear;
				transition: all 0.5s ease;
			}

			.ball2 {
				background-color: rgba(0,0,0,0);
				border:5px solid rgba(0,183,229,0.9);
				opacity:.9;
				border-top:1px solid rgba(0,0,0,0);
				border-left:10px solid rgba(0,0,0,0);
				border-radius:125px;
				box-shadow: 0 0 15px #2187e7; 
				width:250px;
				height:250px;
				margin-top: -251px;
	    		margin-left: 401px;
				position:relative;
				top:-50px;
				-moz-animation:spin 2s infinite linear;
				-webkit-animation:spin 2s infinite linear;
				transition: all 0.5s ease;
			}

			@-moz-keyframes spin {
				0% { -moz-transform:rotate(0deg); }
				50% { -moz-transform:rotate(360deg); }
			}
			@-moz-keyframes spinoff {
				0% { -moz-transform:rotate(0deg); }
				50% { -moz-transform:rotate(-360deg); }
			}
			@-webkit-keyframes spin {
				0% { -webkit-transform:rotate(0deg); }
				100% { -webkit-transform:rotate(360deg); }
			}
			@-webkit-keyframes spinoff {
				0% { -webkit-transform:rotate(0deg); }
				100% { -webkit-transform:rotate(-360deg); }
			}
   		}	
    }
    
    .contenu{

		
    	.instruction{
    		display: none;
		    margin: 10px;
		    height: 100px;
		    padding-left: 110px;

    		.triximg1{
			width: 70px;
			height: 70px;
			margin-left: 5%;
			margin-top: 5%;
			}

			.texttrex{
			margin-left: 16%;
    		margin-top: -5%;
			}

    	}


		.bottom{
			//position: absolute;
			//top: 1300px;

	    	.steak{
				width: 90px;
				height: 90px;
				border: solid 3px red;
				border-radius: 50%;
				margin-left: 512px;
				margin-top: 20px;
			}

			.texttrex1{
				margin-left: 490px;
				margin-top: 350px;
			}

			.triximg2{
				width: 70px;
				height: 70px;
				margin-left: 9px;
	    		margin-top: 10px;
			}
		}
    }
}