#tirix{
	
	background-color: rgba(32, 41, 70, 0.7);
    z-index: 20;
    position: absolute; 
    margin-left: 90px;
    top: 0;

}



.triximg{
	width: 130px;
	height: 130px;
	margin-left: 20%;
	margin-top: 20%;


}

.one1{

	width: 300px;
	height: 300px;
	border-radius:50%;
	border: dashed 2px red;
	margin-left: 35%;
	margin-top: 10%;

}


.one2{


	width: 260px;
	height: 260px;
	border-radius:50%;
	border: solid 2px white;
	background-color: blue;
	margin-left: 6%;
	margin-top: 6%;
	
}


.one3{

	width: 210px;
	height: 210px;
	border-radius:50%;
	border: solid 3px white;
	background-color: blue;
	margin-left: 9%;
	margin-top: 9%;
	
}



.triximg1{
	width: 70px;
	height: 70px;
	margin-left: 5%;
	margin-top: 5%;


}
.texttrex{
margin-left: 12%;
margin-top: -5%;
}

.steak{

	width: 90px;
	height: 90px;
	border: solid 3px red;
	border-radius: 50%;
	margin-left: 48%;
	margin-top: 20px;
}

.texttrex1{
margin-left: 46%;
margin-top: 500px;
}

.triximg2{
	width: 70px;
	height: 70px;
	margin-left: 8%;
	margin-top: 15%;


}
