
#warning{
	
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 80;
    position: absolute;
    top: 10px;
    width:100%;
    height: 1500px;

    .box{
    	background-color: rgba(208, 46, 67, 0.3);
    	margin-top: 530px;
        border: solid 2px #f1304f;
    	height: 450px;
    	width: 820px;
    	margin-left: 175px;
    	margin-right: 100px;
            
    }

    .tiroir1{
        float: left;
        border-right: solid 2px #f1304f;
        height: 400px;
        width: 244px;
    
        img{
            width: 60%;
            padding-top: 70px;
            margin-left: 48px;
            fill: #d80509;        
        }


        p{
            margin-left: 50px;
            margin-left: 65px;
            padding-top: 20px;
            font-size: 150%;
            color: #d80509;
            letter-spacing: 2px;
            font-weight: bold;

        }


    }

    .tiroir2{

        float: left;
        border-bottom: solid 2px #f1304f;
        height: 200px;
        width: 572px;

        .type1{
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            height: 100px;
            
            h2{
                font-size: 119%;
                font-weight: bold;
            }

            .red{
                color: #d80509;
                font-weight: bold;

            }

            img.trex{
                width: 9%;
                padding-top: 12px;
                margin-left: 20px;
                float: left;
            }
            
            p{
                font-weight: bold;
                float:left;
                padding-top: 26px;
                padding-left: 25px;
                font-size: 119%;

            }
        }
        .type2{
            padding-left: 15px;
            padding-top: 15px;
            height: 100px;
            
            h2{
                font-size: 119%;
                font-weight: bold;

            }

           .bar-main-container {
              width: 540px;
              height: 50px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              font-family: sans-serif;
              font-weight: normal;
              font-size: 0.8em;
              color: #FFF;
              
            }

            .wrap {  
                padding-top: 20px;
            }

            .bar-percentage {
                float: left;
                width: 60px;
                height: 16px;
                padding-left: 20px;
                font-size: 119%;
                font-weight: bold;
            }

            .bar-container {
              float: left;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              height: 15px;
              background: rgba(0,0,0,0.1315);
              box-shadow: 0px, 10px, 0px, 0px black;
              width: 480px;
              overflow: hidden;

            }

            .bar {
              float: left;
              background: #d80509;
              height: 100%;
              -webkit-border-radius: 10px 0px 0px 10px;
              -moz-border-radius: 10px 0px 0px 10px;
              border-radius: 10px 0px 0px 10px;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              -moz-opacity: 1;
              -khtml-opacity: 1;
              opacity: 1;
            }
        }



    

    }

    .tiroir3{
        float: left;
        height: 200px;
        width: 572px;

        .infos{
            padding-left: 20px;
            padding-top: 20px;
            height: 50px;

            img.arrows{
                width: 5%;
                padding-top: 20px;
                margin-left: 20px; 
                float:left;
                text-shadow: 0px 2px 0px #111;
            }

            p{
                font-weight: bold;
                float:left;
                padding-top: 26px;
                padding-left: 25px;
                text-shadow: 0px 2px 0px #111;
            }

        }
        

    }

    .tiroir4{
        float:left;
        border-top: solid 2px #f1304f;
        height: 50px;
        width: 818px;

        p{
            font-weight: bold;
            padding-top: 15px;
            padding-left: 191px;
        }

    }
}



