#warning{
	
	background-color: rgba(32, 41, 70, 0.7);
    z-index: 100;
    position: absolute;
    margin-left: 90px;
    top: 0;

    .box{
    	background-color: rgba(208, 46, 67, 0.5);
    	margin-top: 530px;
    	height: 450px;
    	width: 820px;
    	margin-left: 135px;
    	margin-right: 100px;
    }

}


